.resource-main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Montserrat', Arial, sans-serif;
}

.resource-card-container {
  margin-left: 30px;
  flex: 3;
  overflow-y: auto;
}

.resource-card-stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
  margin-top: 130px;
}
