.main-container {
  display: flex;
  height: calc(100vh - 68px);
  font-family: 'Montserrat', Arial, sans-serif;
}

.map-container {
  flex: 3;
  height: 100%;
}

.leaflet-map {
  width: 100%;
  height: 100%;
}
